# Created by https://www.gitignore.io/api/homeassistant
# Edit at https://www.gitignore.io/?templates=homeassistant

### HomeAssistant ###
# Files with personal details
*.crt
*.csr
*.key
.google.token
.uuid
icloud/
google_calendars.yaml
harmony_media_room.conf
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
home-assistant.log.fault
zigbee.db
zigbee.db-shm
zigbee.db-wal
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
tradfri.conf
.DS_Store
.HA_VERSION
.ha_run.lock
.homekit.state
.ios.conf
.trakt.conf
.shopping_list.json

# Temporary files
*.db-journal
*.pid
tts

# automatically downloaded dependencies
deps
lib
www

# Log files
home-assistant.log
home-assistant.log.1
ozw_log.txt

# Development files
custom_components/
themes/
blueprints/
.storage/
neighbours/

#  Visual Studio Code settings
.vscode/

# Backups
backups/

# End of https://www.gitignore.io/api/homeassistant