homeassistant:
  # Name of the location where Home Assistant is running
  name: Stenman
  external_url: !secret external_url
  internal_url: !secret internal_url
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  country: SE
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Stockholm
  # Customization file
  customize: !include customize.yaml
  # Local media directory
  media_dirs:
    local_media: /config/media
  auth_providers:
    - type: homeassistant

# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/hass-hue-icons/hass-hue-icons.js

lovelace:
  mode: yaml
  resources:
    - url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
      type: module
    - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
      type: module
    - url: /hacsfiles/lovelace-card-tools/card-tools.js
      type: module
    - url: /hacsfiles/lovelace-auto-entities/auto-entities.js
      type: module
    - url: /hacsfiles/lovelace-multiple-entity-row/multiple-entity-row.js
      type: module
    - url: /hacsfiles/lovelace-card-mod/card-mod.js
      type: module
    - url: /hacsfiles/vacuum-card/vacuum-card.js
      type: module
    - url: /hacsfiles/zha-network-card/zha-network-card.js
      type: module
    - url: /hacsfiles/lovelace-horizon-card/lovelace-horizon-card.js
      type: module
    - url: /hacsfiles/timer-bar-card/timer-bar-card.js
      type: module
    - url: /hacsfiles/list-card/list-card.js
      type: module
    - url: /hacsfiles/upcoming-media-card/upcoming-media-card.js
      type: module
    - url: /hacsfiles/advanced-camera-card/advanced-camera-card.js
      type: module
    - url: /hacsfiles/lovelace-hourly-weather/hourly-weather.js
      type: module
    - url: /hacsfiles/lovelace-mushroom/mushroom.js
      type: module
    - url: /hacsfiles/flex-table-card/flex-table-card.js
      type: module
    - url: /hacsfiles/skolmat-card/skolmat-card.js
      type: module

# Enables configuration UI
config:

http:
  use_x_forwarded_for: true
  trusted_proxies: !secret oden_ip

python_script:

# Enables support for tracking state changes over time
history:

# Enables my Home Assistant integration
my:

# View events in a logbook
logbook:
  exclude:
    entities:
      - sensor.time
      - sensor.date
      - sensor.date_time
      - sensor.ups_status_date

recorder:
  purge_keep_days: 5
  exclude:
    entities:
      - sensor.time
      - sensor.date
      - sensor.date_time
      - sensor.ups_status_date

logger:
  logs:
    homeassistant.components.glances: fatal
    homeassistant.components.steam_online: error
    homeassistant.components.volvooncall: error
    homeassistant.components.esphome: error
    homeassistant.components.hue: fatal
    homeassistant.components.plex.server: fatal
    homeassistant.components.python_script: error
    homeassistant.components.qbittorrent: fatal
    custom_components.trakt: error
    glances_api: fatal
    volvooncall.volvooncall: error
    zigpy.ota.image: error
    plexwebsocket: fatal
    plexapi: fatal

# Track the sun
sun:

# System health
system_health:

# iOS app
mobile_app:

# Text to speech
tts:
  - platform: google_translate
    language: 'sv'

conversation:

wake_on_lan:

stream:

calendar:
  - platform: caldav
    username: !secret icloud_email
    password: !secret icloud_password
    url: https://caldav.icloud.com
    calendars:
      - Family

################# SONOS #################

# sonos:
#   media_player:
#     advertise_addr: !secret brage_ip
#     hosts:
#       - !secret kitchen_sonos_ip
#       - !secret livingroom_sonos_ip
#       - !secret girlroom_sonos_ip

################# ZHA #################

# zha:
#   zigpy_config:
#     ota:
#       extra_providers:
#         - type: ikea

# Local media source
media_source:

panel_custom:
  - name: panel-redirect
    # url_path needs to be unique for each panel_custom config
    url_path: redirect-logs
    sidebar_title: Logg
    sidebar_icon: mdi:math-log
    module_url: /local/panel-redirect.js
    config:
      # Where you want to redirect to
      target: /config/logs

################# INCLUDE #################

script: !include_dir_merge_named scripts/
automation: !include_dir_merge_list automations/
group: !include groups.yaml
sensor: !include sensors.yaml
input_number: !include input_numbers.yaml
input_boolean: !include input_boolean.yaml
input_text: !include input_text.yaml
switch: !include switches.yaml
light: !include lights.yaml
timer: !include timers.yaml
zone: !include zones.yaml
input_datetime: !include input_datetime.yaml
person: !include persons.yaml
template: !include templates.yaml